@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
    background: linear-gradient(179.14deg,
            rgba(32, 18, 63, 0) -7.14%,
            #000000 87.01%);
}

input[type="data"]::webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8);
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  