label {
    font-size: 20px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 32px 48px;
    max-width: 400px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    cursor: pointer;
}

.main__container>h1 {
    text-align: center;
    margin-bottom: 15px;
}

.main__container>p {
    margin-bottom: 30px;
    text-align: center;
}

.main__container>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__container>form>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__container>form>div>input {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: none;
    font-style: italic;
    border-bottom: 1px solid;
}

.main__container>form>button {
    width: 100%;
    padding: 12px;
    color: #fff;
    margin-top: 12px;
    border-radius: 4px;
    font-size: large;
    background-color: #5a3dbf;
    cursor: pointer;
}

.main__container>Link {
    cursor: pointer;
}